/* Header */

header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #2c3e50;
      color: white;
      padding: 15px 20px;
      z-index: 1000;
}
main {
      padding-top: 80px; /* Отступ сверху = высота header */
      padding-bottom: 60px; /* Отступ снизу = высота footer */
}
footer {
      position: flex;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #2c3e50;
      color: white;
      padding: 30px 40px;
      text-align: center;
}
.header__img {
height: 64px;
width: 64px;
}