{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Accusamus laboriosam laborum repudiandae similique.</li>
<li>Corporis perferendis quam quis reiciendis.</li>
<li>Culpa impedit mollitia nam quod.</li>
<li>Possimus, provident, voluptates! Autem, tenetur.</li>
<li>Cupiditate laboriosam repellat sit velit!</li>
<li>Maxime molestiae odit officiis tenetur!</li>
<li>Autem dolorum facere id ut.</li>
<li>A consectetur debitis incidunt nesciunt.</li>
<li>Ad aliquid consectetur exercitationem quas!</li>
<li>Doloremque, possimus, saepe. Error, repellendus.</li>
<li>Earum exercitationem mollitia pariatur reiciendis!</li>
<li>Consequatur culpa exercitationem expedita molestias?</li>
<li>Esse laudantium odio reprehenderit ullam!</li>
<li>Omnis quidem reiciendis tempora voluptates.</li>
<li>Debitis, earum omnis. Quas, sapiente.</li>
<li>Accusamus dignissimos enim molestiae quo?</li>
<li>Assumenda corporis deserunt sunt voluptates.</li>
<li>Blanditiis error magnam rem reprehenderit?</li>
<li>Blanditiis deserunt repellendus repudiandae vitae.</li>
<li>A atque ea qui sequi.</li>
<li>Accusantium alias eaque neque reprehenderit.</li>
<li>Aliquid aspernatur autem doloribus veniam!</li>
<li>Deserunt eaque eos ipsa laudantium?</li>
<li>Aspernatur neque odit qui veniam?</li>
<li>Dignissimos excepturi fugit porro sed?</li>
<li>Adipisci distinctio nihil sunt vitae?</li>
<li>Fugiat minima odio optio repudiandae!</li>
<li>Aspernatur fugiat illo omnis velit.</li>
<li>Distinctio dolorem est quas quidem!</li>
<li>Est explicabo laborum praesentium recusandae?</li>
<li>A exercitationem magni quibusdam quo!</li>
<li>Consectetur corporis eligendi itaque pariatur?</li>
<li>Blanditiis consectetur id iure maiores.</li>
<li>Nulla obcaecati officiis placeat vel!</li>
<li>Alias consequatur harum inventore quam?</li>
<li>Ad error labore maiores quidem?</li>
<li>A accusantium officiis optio reprehenderit?</li>
<li>Et in molestias veritatis vitae.</li>
<li>Aperiam asperiores fugiat odit tenetur.</li>
<li>Accusamus commodi ea voluptatem voluptatibus!</li>
<li>Consequuntur distinctio ducimus quaerat ut.</li>
<li>Enim maxime veniam voluptatem voluptatibus.</li>
<li>Architecto explicabo illo provident similique!</li>
<li>Dignissimos maxime quo reprehenderit voluptate.</li>
<li>Animi libero molestiae nam quisquam?</li>
<li>Fugit nulla similique ullam veritatis.</li>
<li>Dolorem harum quaerat ut vitae.</li>
<li>Exercitationem hic inventore nobis omnis.</li>
<li>At dicta doloribus error velit.</li>
<li>Earum eius eveniet hic placeat.</li>
<li>Dolore ducimus ea in tenetur.</li>
<li>Consectetur impedit mollitia perferendis sint.</li>
<li>Deleniti doloribus perferendis praesentium temporibus.</li>
<li>Dolores eveniet illo possimus similique.</li>
<li>Aliquid animi assumenda culpa veniam!</li>
<li>Asperiores numquam perspiciatis quidem voluptatibus.</li>
<li>A ad explicabo pariatur sunt.</li>
<li>Architecto in quis tenetur vero?</li>
<li>Consequatur ducimus quo tempore voluptatem.</li>
<li>Consequuntur corporis in saepe velit.</li>
<li>Ab animi dolorem fuga temporibus.</li>
<li>Beatae minus quasi rerum saepe.</li>
<li>Architecto eos in iste pariatur?</li>
<li>Nihil nulla praesentium sapiente voluptas.</li>
<li>Assumenda fugiat impedit quidem tenetur.</li>
<li>Laborum maxime quam quo voluptates.</li>
<li>Dolorum explicabo iste sed ut.</li>
<li>Ducimus hic mollitia quod reprehenderit.</li>
<li>Consequuntur officia perspiciatis recusandae voluptas.</li>
{% endblock %}